<div class="grid grid-cols-3 grid-rows-3 gap-2">

    <div class="col-auto border border-grey-200 shadow  dark:border-gray-700">
        <div class="flex justify-center h-full">
            <button class="button">
                <a class="text-blue-600" href="add_tour">Create new</a>
            </button>
        </div>
    </div>
    <%= render @tours %>

</div>





