<div class = "h-screen w-screen flex-col items-center p-8"> 
    <div class = "w-full rounded-xl shadow-lg flex-col items-center justify-around p-8"> 
        <h1> Expenses Over Time </h1>
        <%= line_chart [["January", 15], ["February", 25], ["March", 10]] %>
    </div>
    <div class = "w-full rounded-xl shadow-lg flex-col items-center justify-around p-8"> 
        <h1> Expenses Over Time </h1>
        <%= line_chart [["January", 15], ["February", 25], ["March", 10]] %>
    </div>
    <div class = "w-full rounded-xl shadow-lg flex-col items-center justify-around p-8"> 
        <h1> Expenses Over Time </h1>
        <%= line_chart [["January", 15], ["February", 25], ["March", 10]] %>
    </div>
</div>
